body{
    background-color: azure;
}

header {
    height: 120px;
    padding: 20px 20px 0;
    background: grey;
}

h1{
    color: white;
}

footer {
    position: absolute;
    display: flex;
    align-items: center;
    height: 2rem;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px 20px;
    background: #666;
    color: white;
  }

a {
    color: white;
    text-decoration: none;
}
a:hover{
    color: aliceblue;
    text-decoration: underline;
    background-color: darkgray;

}